<!doctype html>
<html lang="en">
  {% include "head.j2" %}
  <form action="{{ url_for('login') }}" method="post" name="login">
    {{ form.hidden_tag() }}
    <div class="container">
      <div class="col">
        <div class="col">
          {{ form.username.label }}<br>
          {{ form.username(size=32) }}
        </div>
        <div class="col">
          {{ form.password.label }}<br>
          {{ form.password(size=128) }}
        </div>
        <div class="col">
          {% with flash_messages = get_flashed_messages() %}
            {% if flash_messages %}
              {% for message in flash_messages %}
                <div class="alert alert-danger" role="alert">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
        <br/>
        <div class="col">
          <input type="submit" class="btn btn-warning" value="Login!">
        </div>
      </div>
    </div>
  </form>
</html>